#home {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

}
.home-blog {
    padding: 80px 0;
    .section-title {
        margin-bottom: 1.25rem;
    }
}

.hero {
    position: relative;
    height: 500px;
    margin-bottom: 5rem;
    img {

        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        color: var(--white);
    }
}