#home {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

}
.home-blog {
    padding: 80px 0;
    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.875rem;
        font-size: 1.875rem;
        .swiper-btn-wrapper {
            height: 50px;
            position: relative;
            width: 110px;
        }
    }
}

.swiper-button-next, .swiper-button-prev {
    background: var(--black);
    height: 50px !important;
    width: 50px !important;
    border-radius: 50px;
    top: 0;
    margin-top: 0;
    &::after {
        font-size: 15px !important;
    }
}
.swiper-button-next {
    right: 0 !important;
}
.swiper-button-prev {
    left: 0 !important;
}

.hero {
    position: relative;
    height: 500px;
    margin-bottom: 5rem;
    img {

        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        color: var(--white);
    }
}