.pagination {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    &__link {
        cursor: pointer;
        display: inline;
        padding: 10px 30px;
        background: var(--black);
        color: var(--white);
    }
}